<h1 class="title">Vocal Classification</h1>
<div class="container text-center content">
    <p>
        This project is about deep learning of vocal classification.
        3~4 minutes song is usually processed about 10 seconds by classification in backend.
    </p>
    <p>
        Audio wave covered by blue mask is predicted as vocal sound and vice versa.
    </p>
    <div class="audio-file-container"
         ngFileDrop
         [options]="options"
         (onUpload)="handleUpload($event)"
         [ngClass]="{'file-over': hasBaseDropZoneOver}"
         (onFileOver)="fileOverBase($event)">
        <div class="hint">Put your audio file in here</div>
        <label class="upload-button">
            <input type="file"
                   class="hidden"
                   ngFileSelect
                   [options]="options"
                   (onUpload)="handleUpload($event)"
                   (beforeUpload)="beforeUpload($event)">
            Browse<i class="fa fa-music" aria-hidden="true"></i>
        </label>
    </div>
    <loading *ngIf="showLoading"></loading>
    <div class="wave" [hidden]="showLoading">
        <button class="btn btn-primary" (click)="playPauseAudio()">
            <i *ngIf="!wavesurfer?.isPlaying()" class="fa fa-play" aria-hidden="true"></i>
            <i *ngIf="wavesurfer?.isPlaying()" class="fa fa-pause" aria-hidden="true"></i>
            Play
        </button>
        <div id="waveform" ></div>
    </div>
</div>