<!DOCTYPE html>
<html>
<head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/toastr/build/toastr.css">
    <!-- Polyfill(s) for older browsers -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/wavesurfer.js/dist/wavesurfer.js"></script>
    <script src="/static/toastr/build/toastr.min.js"></script>
    <script src="/static/howler/dist/howler.js"></script>
    <script src="/static/core-js/client/shim.min.js"></script>
    <script src="/static/zone.js/dist/zone.js"></script>
    <script src="/static/systemjs/dist/system.src.js"></script>
    <script src="/static/systemjs.config.js"></script>
    <script>
        System.import('static/app/main').catch(function(err){ console.error(err); });
    </script>
</head>
<base href="/">
<body>
<my-app></my-app>
</body>
</html>